<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="container-arriba">  
            <a href="/"><img class="logo" src='images/logo-mercado-liebre.svg' width="250px"></a>
            <nav class="container">
                <input class="barra" type="text" placeholder="Buscar productos, marcas">
                <button class="buscador"><i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </nav><br>
            <nav class="container-2">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h3 class="centrar">Comprar en cuotas y sin tarjeta de credito</h3>
            </nav>
        </div>
        <nav class="container-hijo">
            <div class="direcciones-der">
                <a href="/" class="opciones"> Ofertas </a>
                <a href="/" class="opciones"> Tiendas Oficiales </a>
                <a href="/" class="opciones"> Vender </a>
                <a href="/" class="opciones"> Ayuda </a>
            </div>
            <div class="direcciones-izq">
                <a href="/register" class="opciones"> Crea tu cuenta <i class="fa-regular fa-address-card"></i></a>
                <a href="/login" class="opciones"> Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <a href="/" class="opciones"> Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
            </div>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>

    </header>
    <main>
        <i class="img"><img src='images/img-home-banner.jpg' width="100%"></i>

        <h4 class="titulares">Basado en tu ultima visita</h4>

        <article class="article">
        <div class="cuadrado">
            <nav class="img-1"><img src='images/img-cafetera-moulinex.jpg' width="100%">
            </nav>
                <section class="section">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$6.770 <br></p>
                    <p class="descuentos">40% OFF <br></p>
                    <p class="descripcion"><b>Cafetera Moulinex </b><br></p>
                </section>
        </div>
        <div class="cuadrado">
            <nav class="img-1"><img src='images/img-macbook-pro-2019.jpg' width="100%">
            </nav>
                <section class="section">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$230.000 <br></p>
                    <p class="descuentos">20% OFF <br></p>
                    <p class="descripcion"><b>MacBook Pro 2019 </b><br></p>
                </section>
        </div>
        <div class="cuadrado">
            <nav class="img-1"><img src='images/img-samsung-galaxy-s10.jpg' width="100%">
            </nav>
                <section class="section">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$70.500 <br></p>
                    <p class="descuentos">10% OFF <br></p>
                    <p class="descripcion"><b>Samsung Galaxy S10 </b><br></p>
                </section>
        </div>
        <div class="cuadrado">
            <nav class="img-1"><img src='images/img-tv-samsung-smart.jpg' width="100%">
            </nav>
                <section class="section">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$23.200 <br></p>
                    <p class="descuentos">5% OFF <br></p>
                    <p class="descripcion"><b>SmartTv Samsung 43" </b><br></p>
                </section>
        </div>
        </article>

        <h4 class="titulares">Sección de Ofertas</h4>

        <article class="article">
            <div class="cuadrado">
                <nav class="img-1"><img src='images/img-cafetera-moulinex.jpg' width="100%">
                </nav>
                <section class="section">
                    <div class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precios">$6.770 <br>
                    <p class="descuentos">40% OFF <br></p>
                    <p class="descripcion"><b>Cafetera Moulinex </b><br></p>
                </section>
            </div>
        <div class="cuadrado">
            <nav class="img-1"><img src='images/img-macbook-pro-2019.jpg' width="100%">
            </nav>
            <section class="section">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="precios">$230.000 <br></p>
                <p class="descuentos">20% OFF <br></p>
                <p class="descripcion"><b>MacBook Pro 2019 </b><br></p>
            </section>
        </div>
        <div class="cuadrado">
            <nav class="img-1"><img src='images/img-samsung-galaxy-s10.jpg' width="100%">
            </nav>
            <section class="section">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="precios">$70.500 <br></p>
                <p class="descuentos">10% OFF <br></p>
                <p class="descripcion"><b>Samsung Galaxy S10 </b><br></p>
            </section>
        </div>
        <div class="cuadrado">
            <nav class="img-1"><img src='images/img-tv-samsung-smart.jpg' width="100%">
            </nav>
            <section class="section">
                <div class="logo-envio">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <p class="precios">$23.200 <br></p>
                <p class="descuentos">5% OFF <br></p>
                <p class="descripcion"><b>SmartTv Samsung 43" </b><br></p>
            </section>
        </div>
        </article>

    </main>
    <footer>
        <div class="footer-abajo">       
            <div class="container-footer">           
                <div class="icono-footer"><i class="fas fa-credit-card"></i></div>        
                <h2 class="titulos-footer">Pagá con tarjeta o en efectivo</h2>    
                <p> Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! </p>   
            </div>      
            <div class="container-footer">        
                <div class="icono-footer"><i class="fas fa-gift"></i></div>           
                <h2 class="titulos-footer">Envío gratis desde $ 2.500</h2>          
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </div>       
            <div class="container-footer">           
                <div class="icono-footer"><i class="fas fa-user-shield"></i></div>          
                <h2 class="titulos-footer">Seguridad, de principio a fin</h2>           
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@. </p>       
            </div>
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </div>
    </footer>

</body>

</html>